target/
.git
.gitignore
*.log

# Maven wrapper (optional keep/remove)
.mvn/wrapper/maven-wrapper.jar

# Allow nested targets if needed (your existing rules)
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea
.vscode
*.iml
*.iws
*.ipr
.classpath
.project
.settings
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/